[Unit]
Description=JJY Repeater
After=local-fs.target systemd-timesyncd.target
ConditionPathExists=/usr/local/bin

[Service]
ExecStart=/usr/local/bin/jjyRepeater
ExecReload=/usr/local/bin/jjyRepeater
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
